.introductory {
    font-family: $font-montserrat;
    max-width: 1200px;

    padding: 141px 282px 70px 237px;
    margin: 0 auto;

    text-align: center;

    @include flex-align-center;
    flex-direction: column;
    @media (min-width:481px) and (max-width: 992px) {
        max-width: 768px;
        padding-left: 37px;
        padding-right: 37px;
        margin: 0 auto;

        text-align: center;

        @include flex-align-center;
        flex-direction: column;
    }

    @media(min-width: 320px) and (max-width: 480px) {
        width: 320px;

        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;

        flex-direction: column;
        flex-wrap: wrap;

    }   
        &-title {
            color: #635C73;

            font-weight: bold;
            font-size: 54px;
            text-transform: uppercase;

            margin-top: 0;
            margin-bottom: 36px;
            @media (min-width:481px) and (max-width: 992px) {
                font-size: 26px;
                margin-bottom: 15px;
            }

            @media(min-width: 320px) and (max-width: 480px) {
                font-size: 26px;
                margin-bottom: 30px;
            }

        }
        &-text {
            font-family: $font-lato;
            margin-bottom: 25px;

            color: #323232;
            
            font-size: 21px;
            @media (min-width:481px) and (max-width: 992px) {
                font-size: 15px;
            }

            @media(min-width: 320px) and (max-width: 480px) {
                font-size: 13px;
            }
        }
}
.github {
    max-width: 365px;
    height: 27px;

    list-style: none;

    @include flex-align-center;
    justify-content: center;

    @media(min-width: 320px) and (max-width: 480px) {
        flex-wrap: wrap;
    }

    &-container {
        margin-right: 7px;
        margin-left: 8px;
    }
}
.features {
    font-family: $font-montserrat;
    max-width: 1200px;

    box-sizing: border-box;

    background-color: #F4F4F4;

    @include flex-align-center;
    justify-content: center;

    margin: 0 auto;
    padding-top: 50px;
    padding-left: 90px;
    @media (min-width:481px) and (max-width: 992px) {
        position: relative;
        max-width: 768px;
        margin: 0 auto;
        @include flex-align-center;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    @media(min-width: 320px) and (max-width: 480px) {
        position: relative;
        width: 320px;
        margin: 0 auto;
        @include flex-wrap-column;
        padding-left: 0;
    }

        &-description {
            @include flex-align-center;
            flex-direction: column;
            justify-content: space-between;

            @media (min-width:481px) and (max-width: 992px) {
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 150px;
            }

            @media(min-width: 320px) and (max-width: 480px) {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 175px;
                @include flex-align-center;
                flex-direction: column;
                justify-content: center;
            }
        }

        &-presentation {
            display: flex;
            flex-direction: column;

            padding-bottom: 39px;

            &-title {
                color: #8D81AC;

                font-size: 42px;
                font-weight: bold;

                margin-left: 23px;
                margin-bottom: 0;
                @media (min-width:481px) and (max-width: 992px) {
                    position: absolute;
                    top: 4.5%;
                    left: 8%;
                    margin: 0 auto;
                }

                @media(min-width: 320px) and (max-width: 480px) {
                    position: absolute;
                    top: 4.5%;
                    left: 2%;
                }
            }
            &-image {
                @media (min-width:481px) and (max-width: 992px) {
                width: 100%;
                height: auto;
                margin-right: 0;
                }

                @media(min-width: 320px) and (max-width: 480px) {
                    width: 317px;
                    height: 381px;
                    overflow: hidden;
                }
            }
        }
}
.description {
    display: flex;

    margin-bottom: 30px;

    @media(min-width: 320px) and (max-width: 480px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-text-container{
        width: 75%;
    }

    &-icon {
        width: 25%;
        margin-right: 30px;

        @media (min-width:481px) and (max-width: 992px) {
            width: 25%;
            margin-right: 0;
        }

        @media(min-width: 320px) and (max-width: 480px) {
            margin-bottom: 15px;
            margin-left: 25px;
        }
    }

    &-title {
        margin-top: 0;
        margin-bottom: 16px;

        color: #323232;

        font-size: 16px;

        @media(min-width: 320px) and (max-width: 480px) {
            text-align: center;
        }
    }
    &-text {
        color: #848E97;

        font-size: 14px;

        @media(min-width: 320px) and (max-width: 480px) {
            text-align: center;
        }
    }
}