.container {
  max-width: 1200px;
  margin: 0 auto;
  @media(min-width: 481px) and (max-width: 992px) {
    max-width: 768px;
  }
}

.header {
  display: block;
  background-image: url("../images/header-section/header-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 1200px;
  height: 863px;
  margin: 0 auto;
  position: relative;
}

.navbar {
  @include flex-justify-between;
  box-sizing: border-box;
  max-width: 1200px;
  height: 100px;
  padding: 29px 285px 20px 90px;
  margin-bottom: 83px;

  position: relative;
  @media(min-width: 481px) and (max-width: 992px) {
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 120px;
    padding: 29px 0;
    background-color: $color-black;
  }
  @media(min-width: 320px) and (max-width: 480px) {
    background-color: $color-black;
    padding: 32px 16px;
  }


  &-logo {
    @include flex-align-center;
    @media(min-width: 481px) and (max-width: 992px) {
      position: absolute;
      left: 0;
      top: 0;
      margin: 18px;
    }

    &-icon {
      margin-right: 17px;
    }

    &-title {
      color: $color-purple;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 24px;
      font-family: $font-lato;
      @media(min-width: 320px) and (max-width: 480px) {
        display: none;
      }
    }
  }

  &-link {
    padding-top: 10px;

    @media(min-width: 320px) and (max-width: 480px) {
      display: none;
    }

    &-item {
      text-decoration: none;
      color: $color-purple;
      font-family: $font-montserrat;
      font-weight: bold;
      font-size: 16px;
      padding: 10px;
      @media(min-width: 320px) and (max-width: 480px) {
        padding: 29px 0 32px 37px;
        font-size: 26px;
        color: $color-white;
        position: relative;
      }
    }

    &-item::before {
      @media(min-width: 320px) and (max-width: 480px) {
        content: '';
        position: absolute;
        width: 8px;
        height: 53px;
        left: 0;
        top: 10px;
        background-color: #333333;
      }
    }

    &-item:hover::before {
      background-color: $color-purple;
    }

    &-item:hover {
      color: $color-white;
      @media(min-width: 320px) and (max-width: 480px) {
        color: $color-purple;
      }

    }
  }

  &-link.active {
    @media(min-width: 320px) and (max-width: 480px) {
      @include flex-align-center;
      flex-wrap: wrap;
      width: 290px;
      height: 380px;
      background-color: #333333;
      position: absolute;
      top: 100px;
      right: 15px;
      padding: 0 0 0 0;
    }
  }

  &-burger {
    display: none;
    @media(min-width: 320px) and (max-width: 480px) {
      display: block;
      background-color: $color-black;
      position: absolute;
      width: 26px;
      height: 26px;
      top: 25px;
      right: 25px;
    }
  }

  &-burger::before, &-burger::after, &-burger span {
    @media(min-width: 320px) and (max-width: 480px) {
      content: '';
      background-color: #ffffff;
      position: absolute;
      width: 100%;
      height: 2px;
      right: 0;
      transition: all 0.3s ease 0s;
    }
  }

  &-burger::before {
    @media(min-width: 320px) and (max-width: 480px) {
      width: 50%;
      top: 15px;
    }
  }

  &-burger::after {
    @media(min-width: 320px) and (max-width: 480px) {
      top: 24px;
    }
  }

  &-burger span {
    @media(min-width: 320px) and (max-width: 480px) {
      top: 35px;
      transition: all 0.3s ease 0s;
    }
  }

  &-burger.active::before {
    @media(min-width: 320px) and (max-width: 480px) {
      transform: rotate(45deg);
      top: 24px;
      width: 100%;
    }
  }

  &-burger.active::after {
    @media(min-width: 320px) and (max-width: 480px) {
      transform: rotate(-45deg);
      bottom: 24px;

    }
  }

  &-burger.active span {
    @media(min-width: 320px) and (max-width: 480px) {
      transform: scale(0);
    }
  }

  &-button {
    font-family: $font-montserrat;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: -4px;
    right: 90px;
    color: $color-white;
    padding: 11px 35px;
    background-color: $color-purple;
    border-radius: 18px;
    margin: 31px 18px;
    @media(min-width: 481px) and (max-width: 992px) {
      margin: 18px;
      right: 20px;
    }
    @media(min-width: 320px) and (max-width: 480px) {
      right: 30%;
    }
  }

  &-button:hover {
    color: #333333;
    background-color: $color-white;
  }
}


.header-main {
  @include flex-align-center;
  @include flex-wrap-column;
  margin: 0 auto;
  text-align: center;

  &-title {
    color: $color-white;
    font-family: $font-montserrat;
    font-weight: bold;
    font-size: 82px;
    margin: 0 0 21px 0;
    @media(min-width: 481px) and (max-width: 992px) {
      font-size: 72px;
    }
    @media(min-width: 320px) and (max-width: 480px) {
      font-size: 48px;
    }
  }

  &-subtitle {
    font-family: $font-lato;
    font-weight: normal;
    font-size: 30px;
    color: $color-purple;
    margin: 0 0 16px 0;
    @media(min-width: 481px) and (max-width: 992px) {
      font-size: 24px;
    }
    @media(min-width: 320px) and (max-width: 480px) {
      font-size: 18px;
    }
  }

  &-description {
    font-weight: normal;
    font-size: 16px;
    color: #848e97;
    font-family: $font-montserrat;
  }
}

.submit {
  @include flex-align-center;
  @include flex-wrap-column;
  position: absolute;
  left: calc((100% - 390px) / 2);
  bottom: 0;
  @media(min-width: 320px) and (max-width: 480px) {
    left: calc((100% - 290px) / 2);
    width: 290px;
  }

  &-link {
    font-family: $font-montserrat;
    color: $color-white;
    background-color: $color-purple;
    border: 1px solid $color-purple;
    font-weight: bold;
    font-size: 21px;
    padding: 17px 73px;
    border-radius: 35px;
    margin-bottom: 19px;
    @media(min-width: 320px) and (max-width: 480px) {
      font-size: 15px;
      padding: 17px 45px;
    }
  }

  &-link:hover {

    color: #333333;
    background-color: $color-white;
  }

  &-description {
    font-family: $font-montserrat;
    font-weight: normal;
    font-size: 14px;
    color: #848E97;;
  }
}


