.pricing {
    @include main-font;
    max-width: 1200px;

    background-image: url("../images/pricing-section/pricing-bg.jpg");
    background-size: cover;

    align-items: center;
    justify-content: center;

    padding: 83px 0 97px 0;
    box-sizing: border-box;
    margin: 0 auto;
    
    &-title {
        margin-bottom: 111px;
        
        font-weight: bold;
        font-size: 42px;
    
        padding-left: 10px;
        padding-right: 10px;
    
        color: $color-white;
    
        text-transform: uppercase;
        text-align: center;
    }

    &-list {
        padding-inline-start: 0;

        list-style: none;
    
        color: $color-white;
        
        padding-left: 90px;
        padding-right: 90px;
    
        justify-content: center;
        align-items: center;
    
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        grid-template-rows: 457px;
        gap: 45px 20px;

        }

    &-variants {
        min-width: 225px;
        height: 457px;
    
        box-sizing: border-box;
    
        position: relative;
    
        justify-content: center;
        text-align: center;
        align-items: center;
    
        background-color: rgba(255, 255, 255, 0.11);
  
        &-title {
            font-size: 17px;

            padding: 40px 43px 40px 43px;
            margin-top: 0;
            margin-bottom: 0;
        
            background-color: rgba(255, 255, 255, 0.06);
        
            text-transform: uppercase;
            text-align: center;
        
            align-items: center;
        }

        &-price {
            font-size: 50px;
            font-weight: bolder;
        
            padding: 0 25px;
            margin-bottom: 18.5px;
        
            text-align: center;
            align-items: center;
        }

        &-pay-period {
            font-size: 10px;

            text-align: center;
            text-transform: uppercase;
        
            align-items: center;
        }

        &-pay-period::after {
            margin: 38px auto 30px;
            align-items: center;
            display: block;
            width: 60px;
            content: " ";
            border-bottom: 5px solid $color-purple;
        }

        &-benefits {
            font-size: 14px;

            text-align: center;
            align-items: center;
        
            margin-right: 15px;
            margin-left: 15px;
        }

        &-purchase {   
            padding: 15px 18px;

            position: absolute;
            bottom: 30px;
            left: 23%;
        
            background-color: rgba(255, 255, 255, 0.15);
        
            justify-content: center;
            align-items: center;
        
            box-sizing: border-box;
        
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
        
            color: $color-white;
        
            font-size: 15px;
        
            border-radius: 18px;
        }
         
    }
}
.active {
    position: relative;
    transform: scale(1.1);
    background-color:rgba(70, 48, 72, 0.84);

    &-title {
        background-color: rgba(0, 0, 0, 0.11);
    };
    &-price {
        margin-top: 0 ;
        font-size: 82px;
    }

    &-pay-period::after {
        margin: 38px auto 45px; 
    }

    &-purchase {
        position: absolute;
        bottom: 25px;
        left: 16%;
    
        padding: 18px 29px;
    
        background-color: rgba(255, 255, 255, 0.15);
    
        justify-content: center;
        align-items: center;
    
        box-sizing: border-box;
    
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
    
        color: white;
    
        font-size: 16px;
    
        border-radius: 18px;
    }
}