@mixin flex-align-center{
  display: flex;
  align-items: center;
}
@mixin flex-justify-between{
  display: flex;
  justify-content: space-between;
}

@mixin flex-wrap-column{
  flex-wrap: wrap;
  flex-direction: column;
}

@mixin main-font {
  font-family: 'Montserrat', sans-serif;
}